@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap");
:root {
  --primary-color: #8a2be2;
  --secondary-color: rgb(138, 43, 226, 0.2);
  --heading-font: "Ubuntu", sans-serif;
  --public-font: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
h1 {
  font-size: 96px;
}
h2 {
  font-family: var(--public-font);
  color: #333;
  line-height: 2;
}
h3 {
  font-size: 36px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
}

p {
  font-family: var(--public-font);
  font-weight: normal;
  font-size: 1rem;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0px;
}
.hero p i {
  font-size: 25px;
  color: var(--public-font);
  animation-name: fadeicon;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes fadeicon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.my-works {
  padding: 25px 20px;
}
.h3-container {
}
.my-works h3 {
  border-bottom: 5px solid var(--secondary-color);
  padding: 10px 5px;
}
