@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@500&family=Ubuntu:wght@500&display=swap");
:root {
  --primary-color: #8a2be2;
  --secondary-color: #8a2be233;
  --heading-font: "Ubuntu", sans-serif;
  --public-font: "Poppins", sans-serif;
  --headding-color: #333;
  --light-color: #f9f7fe;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
h1 {
  font-size: 96px;
}
h2 {
  font-family: var(--public-font);
  color: #333;
  line-height: 2;
}
h3 {
  font-size: 46px;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 20px;
}
a {
  outline: none;
  text-decoration: none;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}
.site-body {
  padding: 0px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 100px 0px;
  margin: 0px;
}

a.navbar-brand {
  color: var(--primary-color) !important;
  font-weight: bold;
  font-family: "Mochiy Pop P One", sans-serif;
}
p {
  font-family: var(--public-font);
  font-weight: normal;
  font-size: 1rem;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0px;
}
.hero p i {
  font-size: 25px;
  color: var(--public-font);
  animation-name: fadeicon;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes fadeicon {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.my-works {
  padding: 25px 0px;
}

.my-works h3 {
  border-bottom: 5px solid var(--secondary-color);
  padding: 10px 5px;
  font-weight: bold;
  color: var(--headding-color);
}
.my-works h4 {
  font-weight: bold;
  color: var(--headding-color);
}
.img-bg {
  padding: 5px;
  background-color: var(--light-color);
}
.img-bg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.descripton {
  padding: 30px 15px;
}
.descripton p {
  line-height: 2;
}
.descripton a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  border-bottom: 2px solid var(--secondary-color);
  transition: border-color 1s;
}
.descripton a:hover {
  transition: border-color 1s;
  border-color: var(--primary-color);
}
.descripton a i {
  font-size: 13px;
}
footer {
  margin-top: 20px;
  background-color: var(--secondary-color);
  padding: 10px 0px 0px 0px;
}
footer h5 {
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 25px;
}
footer .contact {
  color: #272044;
  margin-top: 30px;
}
footer .contact .btn-link {
  margin-right: 15px;
  padding: 0px;
  text-decoration: none;
  color: #272044;
  padding: 5px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
footer .contact .btn-link:hover {
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.4);
}
footer .contact i {
  font-size: 25px;
}
.content-section {
  padding: 100px 0px;
}
.content-section h1 {
  font-size: 64px;
}
.content-section h2 {
  font-size: 18px;
  font-weight: bold;
}
.content-section .content {
  padding: 50px;
}
.my-works h4 {
  font-size: 24px;
}
.content a {
  color: var(--primary-color);
}
.content a:hover {
  color: var(--secondary-color);
}
a.branding-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px 15px;
  translate: background-color 1s;
}
a.branding-btn:hover {
  background-color: #fff;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
@media screen and (max-width: 990px) {
  .content {
    text-align: center;
  }
  .content-section h1 {
    font-size: 44px;
  }
  .my-works h1 {
    font-size: 40px;
  }
  .content-section {
    padding: 0px;
  }
  footer .container {
    text-align: center;
  }
}
@media screen and (max-width: 540px) {
  h1 {
    font-size: 54px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  .descripton {
    padding: 15px 10px;
  }
  .content-section h1 {
    font-size: 44px;
  }
  .my-works h1 {
    font-size: 40px;
  }
}
